.navbar-nav > li {
    cursor: pointer;
}

.card-header {
    height: 60px;
}

#section {
    height: calc(100vh - 56px);
}

#section-panier-detaille {
    height: calc(100vh - 145px);
}

.display-4 {
    font-size: 2rem;
}